.container-login{
    background: #f6f6f6;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.container-login .form-login{
    background: #ffffff98;
    width: 35%;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.433);
    border-radius: 15px;
}

.container-login .form-login h2{
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    color: #00c194;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.218);
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.container-login .form-login form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.container-login .form-login form input{
    width: 95%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.433);
    transition: all .3s;
}

.container-login .form-login form input:focus{
    transform: scale(1.03);
}

.container-login .form-login form button{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.433); 
    margin: .5rem 0;   
    color: white;
    font-weight: bold;
    font-size: calc(.6rem + 1vw);
    background: #0aa682;   
    transition: all .3s; 
}

.container-login .form-login form button:hover{
    transform: scale(1.04);
    cursor: pointer;
    background: #0ec198;   
}

.container-login .form-login form button:active{
    transform: scale(0.9);

}


.container-login .form-login .google-btn{
    width: 60%;
    height: 40px;
    margin: .5rem 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.433); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: white;
    font-weight: bold;
    font-size: calc(.1rem + 1vw);
    transition: all .3s;
}

.container-login .form-login .google-btn:hover{
    transform: scale(1.04);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.527);
    cursor: pointer;
}
.container-login .form-login .google-btn:active{
    transform: scale(0.9);
}

.container-login .form-login .facebook-btn{
    width: 60%;
    height: 40px;
    margin: .5rem 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.433); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background: #3c5a9a;
    font-weight: bold;
    font-size: calc(.1rem + 1vw);
    transition: all .3s;
}

.container-login .form-login .facebook-btn:hover{
    transform: scale(1.04);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.527);
    cursor: pointer;
}
.container-login .form-login .facebook-btn:active{
    transform: scale(0.9);
}



.container-login .form-login p{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.container-login .form-login p .link-to-register{
    text-decoration: none;
    color: #00c194;
    transition: all .3s;
}

.container-login .form-login p .link-to-register:hover{
    color: #5ff8d4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.604);
}

    